<div class="requestedAmount">
  <label for="requestedAmount">Requested Amount:</label>
  <input
    id="requestedAmount"
    type="number"
    min="20000"
    [ngModel]="getDisplayedRequestedAmount()"
    (ngModelChange)="convertDisplayedRequestedAmount($event)"
    name="requestedAmount"
    required="true"
  />
</div>
<div *ngIf="requestedAmount == null" class="text-danger">
  Requested amount must be a valid number
</div>
<div *ngIf="requestedAmount < 20000000" class="text-danger">
  Requested amount must be at least 20000
</div>
