<div class="loanTerm">
  <label for="loanTerm">Loan Term (in months):</label>
  <input
    id="loanTerm"
    type="number"
    min="36"
    max="360"
    [ngModel]="loanTerm"
    (ngModelChange)="updateLoanTerm($event)"
    name="loanTerm"
    required="true"
    [class.highlighted]="isHighlighted"
  />
</div>
<div *ngIf="loanTerm == null" class="text-danger">
  Loan term must be a valid number
</div>
<div *ngIf="loanTerm < 36" class="text-danger">
  Loan term must be at least 36 months
</div>
<div *ngIf="loanTerm > 360" class="text-danger">
  Loan term cannot be more than 360 months
</div>
<div *ngIf="loanTerm !== null && loanTerm === 0" class="text-danger">
  Loan term cannot be zero
</div>
<div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>
